

@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('Bunch Blossoms Personal Use.ttf') format('TrueType');
    }

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: yellow; 
    font-size:3rem;

}

