body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:linear-gradient(to top, rgb(208,228,247) 0%, rgb(115,177,231) 24%, rgb(10,119,213) 50%, rgb(83,159,225) 79%, rgb(135,188,234) 100%);
}
